<div class="form">
     
      {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
      {{/if}}
        
        <div id="login">   
          <h1>Welcome Customers!</h1>
          
          <form  method="post" action="/farmer/register">
          
           <div class="field-wrap">
            <label>
              UserName<span class="req">*</span>
            </label>
            <input type="text" name="username" required autocomplete="off"/>
          </div>
           <div class="field-wrap">
            <label>
              Farmer_id<span class="req">*</span>
            </label>
            <input type="text" name="farmer_id" required autocomplete="off"/>
          </div>
             <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" name="password" required autocomplete="off"/>
          </div>
           <div class="field-wrap">
            <label>
              ConfirmPassword<span class="req">*</span>
            </label>
            <input type="password" name="password1" required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              Contact Number<span class="req">*</span>
            </label>
            <input type="text" name="contact_number" required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              Street Number<span class="req">*</span>
            </label>
            <input type="text" name="street_number" required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              Street Name<span class="req">*</span>
            </label>
            <input type="text" name="street_name" required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              City<span class="req">*</span>
            </label>
            <input type="text" name="city" required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              Pincode<span class="req">*</span>
            </label>
            <input type="text" name="pincode" required autocomplete="off"/>
          </div>
          
         <button class="button button-block"/>Sign in</button>
          
          
          </form>

       
      
</div>
      </div><!-- tab-content -->
      
</div> 

