<div class="contact agileits" style="width: 500px;">
				<div class="contact-agileinfo">
					<div class="contact-form wthree">
						<form action="/send_msg" method="post">
						<div class="" style="margin-top:35px">
						         Customer Name    :<input type="text" name="customer_name" style="padding: 8px; width: 300px;margin-left:140px;margin-top:-1px" placeholder=" " required="">
							</div><p></p>
							<div class="">
						         Customer number  :<input type="text" name="customer_number" style="padding: 8px; width: 300px;margin-left:140px" placeholder=" " required="">
							</div><p></p>
							<div class="">
						         Customer address :<input type="text" name="customer_address" style="padding: 8px; width: 300px;margin-left:140px" placeholder=" " required="">
							</div><p></p>
							<div class="">
						         Product Name     :<input type="text" name="product_name" style="padding: 8px; width: 300px;margin-left:140px" placeholder=" " required="">
							</div><p></p>
                            
							<div class="">
								Total Quantity    :<input type="text" placeholder="" style="padding: 8px; width: 300px;margin-left:140px" name="kg" required="">
							</div>

                            <div class="">
								Farmer Number     :<input type="text" value={{items}} style="padding: 8px; width: 300px;margin-left:140px" name="farmer_number">
							</div>
							
							<input type="submit" value="Submit">
						</form>
					</div>
                    </div>
			</div>